body {

	background-image: linear-gradient(-90deg,lightblue, violet, purple);
}


.field {

	margin-top: 50px;
	min-height: 800px;
	
	
}

.thing {

	height: 100px;
	width: 100px;
	border-radius: 50%; 
	animation-name: motion1;
	animation-duration: 2s;
	background-color: white;
	animation-delay: ;
	animation-iteration-count: 4;
	animation-fill-mode: both; 
	position: absolute;

}





@keyframes motion1{

	0% {

			background-color: white;
			top: 5px;
			left: 10px;



	}


	17% {


		background-color: white;
		top: 400px;
		left: 520px;

	}

	34% {


		background-color: lightblue;
		top: 100px;
		left: 500px;
		height: 150px;
		width: 150px;
		
	}

	50% {

		background-color: lightpink;
		top: 400px;
		left: 620px;
		border-radius: 0%;
		height: 200px;
		width: 200px;
	}

	67% {


		background-color: lightblue;
		top: 100px;
		left: 500px;
		height: 150px;
		width: 150px;
		
	}

	84% {


		background-color: white;
		top: 400px;
		left: 520px;

	}

	100% {

			background-color: white;
			top: 5px;
			left: 10px;



	}


}