.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {

	background-color: lightpink;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 91%;
    padding: 0;
    overflow: hidden;
 } 