 
body {

  font-family: 'Dosis', sans-serif;
  
}

html,
body,
header,
#intro {
    height: 100%;
}

#intro {
  background: url("https://images.pexels.com/photos/1037994/pexels-photo-1037994.jpeg?cs=srgb&dl=art-beautiful-bloom-1037994.jpg&fm=jpg")no-repeat center center fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}



.page-footer {

  background-color: #f1b0ae;
 
}



.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 12%;
}



.jumbotron {
    padding: 8rem 1rem;
    margin-top: 4rem;
  background-image: url("img/art-beautiful-bloom-1037994.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;


}



.bg-dark {
    background-color: #f1b0ae91!important;
}

.navbar-dark .navbar-brand {
    color: black;
    font-size: 25px;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
    font-size: 20px;
}

.d-inline-block {
    display: inline-block!important;
    margin-right: 10px;
}

.blush_1 {

    width: 15%;
    margin-top: 5%;
    margin-left:5%;

}

.blush_2 {

    width: 15%;
    margin-left: 80%;
    margin-top: -3%;

}

