body {

    background-color: #F0F8FF;
}


.bg-dark {

    background-color: #F0F8FF!important;
    
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png);


}

.modal-content {


    background-color:   #F0FFFF;
}




.jumbotron {
    padding: 8rem 1rem;
    margin-top: 4rem;
	background-image: url("img/alex-guillaume-434982-unsplash.jpg");
  	background-size: cover;
    background-repeat: no-repeat;
    height: 100%;


}
.jumbotron-2 {

    padding: 8rem 1rem;
    margin-top: 4rem;
    background-image: url("img/yogesh-pedamkar-1315012-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron-3 {

    padding: 8rem 1rem;
    margin-top: 4rem;
    background-image: url("img/jumbo_butterfly_pic.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron-4 {

    padding: 8rem 1rem;
    margin-top: 4rem;
    background-image: url("img/perry-grone-732606-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}






.img-fluid

{
    max-width: 100%;
    height: auto;
}

.display-3 {
    font-size: 3rem;
    font-weight: 200;
    line-height: 1.2;
    color: white;    
}

h2 {

	color: black;
	width: 90%;
	background-color: #3CB371;


}

h3 {

    font-size: 1.25rem;

}




body {

  font-family: 'Poppins', sans-serif !important;
}

[class^="col-"] {
   
    margin-bottom: 2%;

}

.navbar-brand {

    font-size: 2.25rem;
    margin-right: 5rem;
}

a {

	font-size: 1rem;
}

.navbar-dark .navbar-brand {
    color: #3CB371;
}

.navbar-dark .navbar-toggler {
    
    border-color: #3CB371;
}


.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #3CB371;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}


img {


	margin-right: 5%;
}
.butterfly-img {

    width: 70%;
}

.container {
    margin-top: 5%;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #3CB371;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body {


    background-color: rgba(83, 204, 132);
}


.col-lg-12 {
    
    margin-left: auto;
    margin-right: auto;
}


.mr-3{

width: 20%;

}









